/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fredoka", sans-serif;
    background-color: #F8F4F4;
}

/* header */
.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    color: #402022;
    font-size: 19px;
    font-weight: 600;
}

.logo span {
    color: #F14DA3;
    margin-right: 5px;
}

.new-btn {
    background-color: #F14DA3;
    border: none;
    border-radius: 30px;
    padding: 6px 15px;
    color: white;
    font-size: 13px;
}

/* Home */
.page {
    padding: 30px 30px 60px;
}

.main {
    font-size: 30px;
    text-align: center;
    line-height: 38px;
    font-weight: 600;
    color: #402022;
}

.sub {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.sorting-category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.sorting-option {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 18px;
    font-size: 18px;

    &:hover {
        color: #F14DA3;
    }
}

.sorting-option svg {
    margin-right: 5px;
}

.sorting-like {
    border-bottom: 2px solid#F14DA3;
}

.sorting-date {
    border-bottom: 2px solid#F14DA3;
}

.post-box {
    background-color: white;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 15px 20px;
    border-radius: 10px;
}

.post-top {
    display: flex;
    justify-content: space-between;
}

.post-top p{
    line-height: 21px;
}

.like {
    display: flex;
    align-items: center;
}

.like svg {
    margin-left: 3px;
}

.post-bottom {
    position: relative;
    display: flex;
    justify-content: end;
    margin-top: 10px;
    font-size: 11px;
    color: rgb(148, 148, 148);
}

.post-time {
    margin-left: 5px;
}

.alert {
    position: absolute;
    bottom: -50px;
    right: -20px;
}

.comment-number {
    margin-inline : 5px
}

.user-linkedin {
    text-decoration: underline;
}

/* single page */
textarea,
input {
    border: none;
    border-radius: 10px;
}
textarea:focus,
input:focus {
    outline: none;
} 

.social-sharing {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.add-comment {
    position: relative;
    display: flex;
    flex-direction: column;
}

.comment-input {
    height: 100px;
    line-height: 24px;
    font-size: 14px;
    padding: 10px 20px;
}

.username {
    margin-top: 10px;
}

.comment-username {
    height: 30px;
    margin-left: 10px;
    padding-left:10px; 
    font-size: 14px;
}

.comment-btn {
    border: none;
    width: 150px;
    height: 40px;
    background-color: #F14DA3;
    color: white;
    border-radius: 30px;
    margin-top: 35px;
    margin-bottom: 10px;
}
.prev-comment {
    margin-top: 15px;
}

.prev-comment-bottom {
    display: flex;
    font-size: 14px;
    margin-top: 10px;
    font-size: 14px;
    color: rgb(148, 148, 148);
}

.singlepage-error {
    position: absolute;
    left: 0;
    bottom: 56px;
    color: #F14DA3;
}



/* Add new thought page */
.back-btn {
    display: flex;
    align-items: center;
}

.back-btn p {
    margin-left: 5px;
}

.page-title {
    font-size: 30px;
    margin-top: 15px;
}

.form-top,
.form-bottom {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.form-bottom {
    position: relative;
}

.form-user {
    display: flex;
}

.form-linkedin {
    margin-top: 30px;
}

.form-label {
    display: flex;
}

.form-label span {
    color: rgb(243, 62, 35);
    margin-left: 5px;
}

.form-top textarea {
    height: 150px;
    margin-top: 10px;
    padding: 15px;
}

.input-username,
.input-linkedin {
    height: 40px;
    padding: 8px 15px;
    margin-top: 10px;
    
}

.submit-btn {
    margin-top: 50px;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 30px;
    background-color: #F14DA3;
    color: white;
    font-size: 15px;
}

.error {
    color: rgb(255, 0, 153);
    position: absolute;
    bottom: -30px;
    left: 0;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    background-color:#fb64b2;
}

.developer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.developer img {
    width: 35px;
    margin-left: 5px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.text-loading {
    margin-left: 10px;
    font-size: 18px;
}


/* tablet */
@media screen and (min-width: 768px) {
    .header {
        padding: 30px 150px;
    }
    .home,
    .page {
        padding: 50px 150px;
    }
    footer {
        padding-inline: 150px;
    }
}

/* desktop-small */
@media screen and (min-width: 992px) {
    .home,
    .page {
        padding: 50px 250px;
    }
    footer {
        padding-inline: 250px;
        font-size: 12px;
    }

    /* header */
    .header {
        padding: 30px 250px;
    }

    .logo {
        font-size: 22px;
    }

    .new-btn {
        padding: 8px 20px;
        font-size: 15px;
    }

    /* Home */
    .main {
        font-size: 45px;
        line-height: 65px;
    }

    .sub {
        font-size: 30px;
        line-height: 40px;
        margin-top: 30px;
        margin-bottom: 65px;
    }

    .sorting-option {
        padding-bottom: 25px;
        font-size: 20px;
    }

    .post-top p{
        line-height: 21px;
    }
    
    .post-bottom {
        font-size: 14px;
    }

    
}

/* desktop-small */
@media screen and (min-width: 1250px) {
    .header {
        padding: 30px 400px;
    }
    .home,
    .page {
        padding: 50px 400px;
    }
    footer {
        padding-inline: 400px;
    }
}
